



<h1>Bookshelf</h1>







<% @books.each do |book|  %>

<h3> Title: <%= link_to book['title'], book_path(book['title'].gsub(' ', '-')) %></h3>

<h4> Author: <%=book['author']%></h4>

<h4> Year: <%=book['year']%></h4>

<h4> ISBN: <%=book['isbn']%></h4>

<%= image_tag("http://covers.librarything.com/devkey/767a791c0e42bac7dc8892ce714a7322/large/isbn/#{book['isbn']}") %>

<% end %>
