
<% @books.each do |book|  %>

  <div class="col s12 m6">

    <div class="card horizontal blue-grey lighten-5">
      <div class="card-image">
        <%= image_tag("http://covers.librarything.com/devkey/767a791c0e42bac7dc8892ce714a7322/medium/isbn/#{book['isbn']}") %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h6 class="header"><%= link_to book['title'], book_path(book['title'].gsub(' ', '-')) %></h6>

          <h6> Author: <%=book['author']%></h6>

          <h6> Year: <%=book['year']%></h6>

          <h6> ISBN: <%=book['isbn']%></h6>
        </div>
        <div class="card-action">
          <%= link_to "View Book", book_path(book['title'].gsub(' ', '-')) %>
        </div>
      </div>
    </div>
  </div>


  <% end %>
