



<div class="container">

<div class="col s12 m12">
    <h2 class="header"><%= @book["title"] %></h2>
    <div class="card horizontal orange lighten-5">
      <div class="card-image">
        <%= image_tag("http://covers.librarything.com/devkey/767a791c0e42bac7dc8892ce714a7322/large/isbn/#{@book['isbn']}") %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5>Author: <%= @book['author'] %></h5>

          <h5>Year: <%= @book['year'] %></h5>

          <h5>ISBN: <%= @book['isbn'] %></h5></p>
        </div>
        <div class="card-action">
          <%= link_to 'Back to Bookshelf',(:books), class: "" %>
        </div>
      </div>
    </div>
  </div>

</div>
